.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list__element {
    display: grid;
    grid-template-columns: auto 1fr 1fr auto;
    grid-gap: 10px;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

@media(max-width: 563px) {
    .list__element {
        grid-template-columns: auto 7fr 6fr auto;
    }
}

.list__element--done {
    text-decoration: line-through;
}

.list__time {
    font-size: 11px;
    text-align: center;
    border: 1px solid #ccc;
    max-width: 140px;
    border-radius: 15px;
    padding: 5px;
}

@media(max-width: 564px) {
    .list__time {
       font-size: 9px;
    }
}

.list__button {
    border: none;
    width: 30px;
    height: 30px;
    padding: 0;
    color: white;
}

.hidden {
    display: none;
}

.list__button--done {
    background-color: green;
    transition: 0.5s;
}

.list__button--remove {
    background-color: rgb(168, 0, 0);
    transition: 0.5s;
}

.list__button--done:hover {
    background-color: hsl(120, 100%, 35%);
}

.list__button--remove:hover {
    background-color: hsl(0, 100%, 60%);
}