.section__taskButtons {
    padding: 20px;
    margin: 0;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

@media(max-width: 767px) {
    .section__taskButtons {
        flex-direction: column;
    }
}

.section__taskButtons--button {
    border: none;
    background: none;
    color: teal;
    transition: 0.5s;
}

.section__taskButtons--button:hover {
    color: hsl(180, 100%, 35%);
}

.section__taskButtons--button:disabled {
    color: gray;
}

.hidden {
    display: none;
}