.buttons {
    padding: 20px;
    margin: 0;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

@media(max-width: 767px) {
    .buttons {
        flex-direction: column;
    }
}

.buttons__button {
    border: none;
    background: none;
    color: teal;
    transition: 0.5s;
}

.buttons__button:hover {
    color: hsl(180, 100%, 35%);
}

.buttons__button:disabled {
    color: gray;
}

.hidden {
    display: none;
}